@font-face{
    font-family: 'PiersonDemo';
    src: url('fuente/PiersonDemo.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('fuente/PiersonDemo.woff') format('woff'), /* Modern Browsers */
         url('fuente/PiersonDemo.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}
body{
    background-color: rgb(238, 238, 238);
    font-family: "PiersonDemo", Georgia;
    font-weight: 600;
}
*{
    font-weight: 600;
}
p{  color: dimgrey;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
span{
    font-size: 32px;
}
.p-compr{
    font-size: 18px;
}
h5{
    color: #231f20;
    font-weight: 900;
}
h4{
    color: #fff;
    font-weight: 900;
}
h3{
    color: #231f20;
    font-weight: 900;
}
h2{
    font-weight: 800;
}
h1{
    color: black;
    font-weight: 600;
}
.navbar{
    width: 100%;
    height: auto;
    z-index: 90;
    font-size: 20px;
    background-color:#231f20;
    min-height:130px;
    display: flex;
    align-items:center ;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgb(173, 173, 173);
}
.anav-link{
    color: rgb(255, 255, 255);
    padding: 16px;
    transition: 1s;
}
.anav-link:hover{
    transition: 0.3s;
    color:white;
    text-shadow: 2px 2px 10px rgb(224, 224, 224);
    text-decoration: none;
}
.SM{
    color: white;
    display: flex;
    align-items:center ;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    padding: 10px;
    transition: 0.5s;
}
.SM:hover{
    transition: 0.5s;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px white;
    text-decoration:none;
    display: flex;
    align-items:center ;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.header{
    background:url("img/businessman-reading-contract-closeup.jpg");
    background-attachment: scroll;
    background-size: cover;
    min-height: 600px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.subheader{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}
.textsubheader{
    font-weight: 800;
    color: white;
}
main{
    padding: 10px;
}
.main{
    font-size: 15px;
    min-height: auto;
    background-image: url("img/pexels-pixabay-48148.jpg");
    background-size: cover;
    color: white;
}
.submain{
    border: 3px solid #231f20  ;
    padding: 0px;
    margin-top: 0px;
    font-size: 15px;
    min-height: 80vh;
    width: 100%;
    background:linear-gradient(rgba(255, 255, 255, 0.582), rgba(255, 255, 255, 0.534), #fff);
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.divserv{
    display: flex;
    height: 400px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
}
.serv{
    transition: 0.9s;
    cursor: pointer;
    padding: 10px;
    border: 3px solid #231f20;
    border-radius: 100%;
    display: flex;
    height: 400px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.serv:hover{
    transition: 0.9s;
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.733);
}
.medio{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.compromiso{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 300px;
    color: white;
    background-color: #231f20;
}
.subcompromiso{
    padding: 20px;
}
.itemcompromiso{
    height: 100px;
    padding: 20px;
}
.contacto{
    height: 100vh;
    background: url("img/signing-business-contract-concept-man-putting-signature-on-legal-document.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 18px;
    padding: 20px;
    
}
.licontacto{
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
}
.contacto1,.contacto2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.datos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 50vh;
    height: auto;
    background-color: rgba(0, 0, 0, 0.555);
}
.staff{
    width: 100%;
    min-height: 500px;
    background-color: white;
    padding: 25px;
}
.staff1{
    background: url("img/businessman-reading-contract-closeup.jpg");
    min-height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    z-index: 99;
    

}
.substaff1{
    position: relative;
    min-height: 400px;
    width: 100%;
    border-left: 10px solid #231f20;
    border-top: 10px solid #231f20;
    transform: translateY(-15px);
    z-index: 1;
}
.staff2{
    min-height: 400px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 10px solid #231f20;
    border-bottom: 10px solid #231f20;
    transform: translateY(15px);
}
footer{
    color: white;
    font-size: 14px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    background: url("img/pexels-dalila-dalprat-2043569.jpg");
    height: 50vh;
    background-size: cover;
}
.red{
    flex-direction: column;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}

}
.redes{
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}
.firma{
    background-color: white;
    font-size: 10px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}
.juridicciones{
    min-height: auto ;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.j{
    font-weight: 800;
}
@media (max-width: 900px){
    .navbar{
        height: auto;
        flex-direction: row;
        width: 100%;
    }
    .submain{
        display: flex;
        text-align: left;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}